<%- include('partials/header.ejs') %>
  <!-- Full Width Column -->
  <div class="content-wrapper" style="min-height: 512px;">
    <div class="container">
      <!-- Main content -->
      <section class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Test Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" style="font-size: 16px" >
              <div class="box-body">
                <div class="form-group">
                  <label for="input" class="col-sm-1 control-label">Input</label>
                  <div class="col-sm-11">
                  <textarea id="input" class="form-control" rows="5" placeholder="Enter Input Text..." style="font-size: 16px"></textarea>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="appDomain" class="col-sm-4 control-label">App Domain</label>
                      <div class="col-sm-8">
                        <input type="input" class="form-control" id="appDomain" placeholder="App Domain" style="font-size: 16px">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <label for="uniqueContent" class="col-sm-4 control-label">Unique Content</label>
                      <div class="col-sm-8">
                        <input type="input" class="form-control" id="uniqueContent" placeholder="Unique Content" style="font-size: 16px">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group" >
                      <label for="pattern" class="col-sm-2 control-label">Pattern</label>
                      <div class="col-sm-10 input-group input-group-sm" style="padding-right: 15px; padding-left:15px">
                        <span class="input-group-btn">
                          <button id="btnLink" type="button" class="btn btn-info btn-flat">{link}</button>
                          <button id="btnLinkMarkDown" type="button" class="btn btn-warning btn-flat">{linkMarkdown}}</button>
                          <button id="btnNumber" type="button" class="btn btn-danger btn-flat">{number}}</button>
                          <button id="btnAlphaNumber" type="button" class="btn btn-primary btn-flat">{alphaNumber}</button>
                        </span>
                        <input type="text" id="patternIdx" class="form-control" style="font-size: 16px; display: none">
                        <input type="text" id="pattern" class="form-control" style="font-size: 16px">
                          <span class="input-group-btn">
                            <button id="btnInsert" type="button" class="btn btn-info btn-flat" style="font-size: 14px">Insert</button>
                          </span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label for="code" class="col-sm-2 control-label">Extracted Code</label>
                      <div class="col-sm-10">
                        <input type="input" class="form-control" id="code" placeholder="Code" style="font-size: 16px">
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="form-group">
                      <label for="code" class="col-sm-2 control-label">Applied Pattern</label>
                      <div class="col-sm-10">
                        <input type="input" class="form-control" id="selectedPattern" placeholder="Applied Pattern" style="font-size: 16px">
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button id="btnCancel" class="btn btn-default">Cancel</button>
                <button id="btnTest" class="btn btn-info pull-right">Test</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#pLast50" data-toggle="tab" aria-expanded="true">Last 50 emails</a></li>
              <li class=""><a href="#patterns" data-toggle="tab" aria-expanded="false">Patterns</a></li>
              <li class=""><a href="#tools" data-toggle="tab" aria-expanded="false">Get Code</a></li>
              <li class="pull-right" style="padding-top: 10px"><button id="btnPause" class="btn btn-danger pull-right btn-block btn-sm">Pause</button></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active" id="pLast50">
                <% for(var i=0; i < last50.length; i++) { var item = JSON.parse(last50[i]); %>
                  <% var time =  Date.now() - (item.time) > 60000? (Math.round((Date.now() - (item.time)) / (60*1000)) + " mins ago"): (Math.round((Date.now() - (item.time)) / 1000) + " second ago") %>
                  <div class="post" style="padding-bottom: 5px">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="../../dist/img/avatar04.png" alt="User Image">
                          <span class="username">
                            <a href=""><%= item.receiver %></a>
                            <a href="" class="pull-right btn-box-tool">Test <i class="fa fa-send-o"></i></a>
                          </span>
                      <span class="description">from: <%= item.from %> - <%= time %></span>
                    </div>
                    <!-- /.user-block -->
                    <div class="box-body">
                      <div class="form-group" style="padding-bottom: 10px">
                        <label for="input" class="col-sm-1 control-label">Extracted Code</label>
                        <div class="col-sm-11">
                        <!-- <p><%= item.code %></p> -->
                        <textarea  class="form-control" rows="1" style="font-size: 16px; padding: 0px; border: none;;margin-bottom: 7px" ><%= item.code %></textarea>
                        </div>
                      </div>
                        <div class="form-group" style="padding-bottom: 10px">
                          <label for="input" class="col-sm-1 control-label">Applied Pattern</label>
                          <div class="col-sm-11" >
                            <p><%=  (item.pattern==''?"N.A":item.pattern) %> <b> - <%= item.appDomain + (item.uniqueContent==undefined?"":(" - " + item.uniqueContent)) %>  </b></p>
                          </div>
                        </div>
                      <div class="form-group">
                        <label for="input" class="col-sm-1 control-label">Email Content</label>
                        <div class="col-sm-11">
                        <textarea class="form-control" rows="3" style="font-size: 16px; padding: 0px; border:none"><%= item.content %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                <% } %>
              </div>

              <div class="tab-pane" id="patterns">
                <div class="box box-solid">
                  <div class="box-header with-border">
                    <i class="fa fa-android"></i>
                    <h3 class="box-title">Patterns List</h3>
                  </div>
                  <div class="box-body table-responsive">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                      <div class="row">
                        <div class="col-sm-12">
                          <table id="tblPattern" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                            <tr role="row">
                              <th>No</th>
                              <th>App Domain</th>
                              <th>Unique Content</th>
                              <th>Pattern</th>
                              <th style="width:10%">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                              <% for(var i=0; i < patterns.length; i++) { var item = JSON.parse(patterns[i]); %>
                               <tr role="row" class=<%= i%2==0?"even":"odd" %>>
                                 <td style='width: 5%'><%= (i+1) %></td>
                                 <td style='width: 15%'><%= item.appDomain %></td>
                                 <td style='width: 15%'><%= item.uniqueContent %></td>
                                 <td style='width: 55%'><%= item.pattern %></td>
                                 <td style='width: 10%'>
                                   <a style="padding-right: 10px"><i onclick="deletePattern(<%= i %>)" class="fa fa-trash"></i></a>
                                   <a><i onclick="editPattern(<%= i %>)" class="fa fa-edit "></i></a>
                                 </td>
                               </tr>
                               <% } %>
                            </tbody>
                          </table>
                        </div>
                      </div>

                  </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tools">
                <div class="row">
                  <div class="col-md-12">
                    <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Get Code</h3>
                    </div>
                    <form class="form-horizontal" style="font-size: 16px" >
                      <div class="box-body">
                        <div class="form-group" >
                          <label for="email" class="col-sm-1 control-label">Email</label>
                          <div class="col-sm-11 input-group input-group-sm" style="padding-right: 15px; padding-left:15px">
                            <input type="text" id="email" class="form-control" placeholder="Enter email..." style="font-size: 16px">
                            <span class="input-group-btn">
                              <button id="btnGetCodeByEmail" type="button" class="btn btn-info btn-flat" style="font-size: 14px">Get Code</button>
                            </span>
                          </div>
                        </div>
                        <div class="form-group" >
                          <label for="toolCode" class="col-sm-1 control-label">Extracted Code</label>
                          <div class="col-sm-11 input-group input-group-sm" style="padding-right: 15px; padding-left:15px">
                            <input id="toolCode" class="form-control" placeholder="Extracted code" style="font-size: 16px"></input>
                            <span class="input-group-btn">
                              <button id="btnCopyCode" type="button" class="btn btn-info btn-flat" style="font-size: 14px">Copy Code</button>
                            </span>
                          </div>
                        </div>
                        <div class="form-group" >
                          <label for="toolFrom" class="col-sm-1 control-label">From</label>
                          <div class="col-sm-11 input-group input-group-sm" style="padding-right: 15px; padding-left:15px">
                            <input id="toolFrom" class="form-control" placeholder="From email" style="font-size: 16px"></input>
                          </div>
                        </div>
                        <div class="form-group" >
                          <label for="toolEmailContent" class="col-sm-1 control-label">Email Content</label>
                          <div class="col-sm-11" style="padding-right: 15px; padding-left:15px">
                            <textarea id="toolEmailContent" class="form-control" rows="5" placeholder="" style="font-size: 16px"></textarea>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>

        </div>
      </section>
    </div>
  </div>

  <%- include('partials/footer.ejs') %>
  <script type="text/javascript">
    var pause = false;
  $("#tlbLast50").ready(function(){
    setTimeout(function(){
        reloadLast50(); //this will send request again and again;
    }, 5000);
  });
  function reloadLast50(){
      $.ajax({
          url: "/api/email/last50",
          success:function(last50){
            if(!pause){
              var rowCount = $('#pLast50 .post').length;
              for(var i=last50.length-1; i>=0; i--){
                var item = JSON.parse(last50[i]);
                var time = (Date.now() - (item.time) > 60000? (Math.round((Date.now() - (item.time)) / (60*1000)) + " mins ago"): (Math.round((Date.now() - (item.time)) / 1000) + " second ago"));
                  $("#pLast50").prepend(
                    "<div class='post' style='padding-bottom: 5px'>"
                      + "<div class='user-block'>"
                        + "<img class='img-circle img-bordered-sm' src='../../dist/img/avatar04.png' alt='User Image'>"
                            + "<span class='username'>"
                              + "<a href=''>" + item.receiver + "</a>"
                              + "<a href='' class='pull-right btn-box-tool'>Test <i class='fa fa-send-o'></i></a>"
                            + "</span>"
                        + "<span class='description'>from: " + item.from + " - " + time +"</span>"
                      + "</div>"
                      + "<div class='box-body'>"
                        + "<div class='form-group' style='padding-bottom: 10px'>"
                          + "<label for='input' class='col-sm-1 control-label'>Extracted Code</label>"
                          + "<div class='col-sm-11'>"
                          // + "<p>"+(item.code==null?"N.A":item.code)+"</p>"
                          + "<textarea  class='form-control' rows='1' style='font-size: 16px; border: none; padding: 0px;margin-bottom: 7px'>" + (item.code==null?"N.A":item.code) + "</textarea>"
                          + "</div>"
                        + "</div>"
                          + "<div class='form-group' style='padding-bottom: 10px'>"
                            + "<label for='input' class='col-sm-1 control-label'>Applied Pattern</label>"
                            + "<div class='col-sm-11'>"
                              + "<p stype='padding-left: 15px'>"+ (item.pattern==""?"N.A":item.pattern) +" <b> - " + (item.appDomain==""?"N.A":item.appDomain) + (item.uniqueContent==undefined?"":(" - " + item.uniqueContent)) + "  </b></p>"
                            + "</div>"
                          + "</div>"
                        + "<div class='form-group'>"
                          + "<label for='input' class='col-sm-1 control-label'>Email Content</label>"
                          + "<div class='col-sm-11'>"
                          + "<textarea id='input' class='form-control' rows='3' style='font-size: 16px; padding: 0px; border:none'>"+item.content+"</textarea>"
                          + "</div>"
                        + "</div>"
                      + "</div>"
                    + "</div>"
                  );
                  rowCount--;
                  if(rowCount >= 0)
                  $('#pLast50').children().last().remove();
              }
            }else {
              console.log("Paused");
            }
            setTimeout(function(){
                reloadLast50(); //this will send request again and again;
            }, 5000);
          },
          error:function(result) {
            console.log(result);
            setTimeout(function(){
                reloadLast50(); //this will send request again and again;
            }, 10000);
          }
      });
    }
    $("#btnTest").click(function(e) {
      e.preventDefault();
      if($("#input").val().trim() == ""){
        alert("Input is empty");
        return;
      }
      $("#code").val("");
      $.ajax({
          type: 'POST',
          url: '/api/email/test',
          data: {
              'input': $("#input").val().trim(),
              'pattern': $("#pattern").val(),
              'appDomain': $("#appDomain").val()
          },
          success:function(response) {
            // console.log(response);
            let result = response.result;
            let pattern = response.pattern;
            let appDomain = response.appDomain;
            $("#code").val(result==""?"null":result);
            $("#selectedPattern").val(pattern==""?"null":pattern);
            $("#appDomain").val(appDomain);
          },
          error:function(result) {
            // console.log(result);
            alert(result.responseJSON.message);
          }
      });
    });

    $("#btnInsert").click(function(e) {
      e.preventDefault();
      // Validate input
      if($("#appDomain").val().trim() == ""){
        alert("App Domain can not empty");
        $("#appDomain").focus();
        return;
      }
      // if($("#uniqueContent").val().trim() == ""){
      //   alert("Unique Content can not empty");
      //   $("#uniqueContent").focus();
      //   return;
      // }
      if($("#pattern").val().trim() == ""){
        alert("Pattern is empty");
        $("#pattern").focus();
        return;
      }

      if($("#btnInsert").text() == "Insert"){
        // Insert new
        $.ajax({
            type: 'POST',
            url: '/api/email/patterns',
            data: {
                'pattern': $("#pattern").val(),
                'uniqueContent': $("#uniqueContent").val(),
                'appDomain': $('#appDomain').val().trim().toLowerCase()
            },
            success:function(result) {
              $('#tblPattern tr:last').after("<tr>"
                + "<td>" + ($('#tblPattern tr').length) + "</td>"
                + "<td>"+ result.appDomain +"</td>"
                + "<td>"+ result.uniqueContent +"</td>"
                + "<td>"+ result.pattern +"</td>"
                + "<td>"
                  + "<a style='padding-right: 10px'><i onclick='deletePattern("+ ($('#tblPattern tr').length -1) +")' class='fa fa-trash'></i></a>"
                  + "<a><i onclick='editPattern(" + ($('#tblPattern tr').length -1) + ")' class='fa fa-edit '></i></a>"
                + "</td>"
                + "</tr>");
                $("#pattern").val("");
                $("#appDomain").val("");
                $("#patternIdx").val("");
                $("#selectedPattern").val("");
              alert("Inserted Successfully!");
              // console.log(result);
            },
            error:function(result) {
              // console.log(result);
              alert(result.responseJSON.message);
            }
        });
      }else{
        let newPattern = $("#pattern").val().trim();
        let newAppDomain = $("#appDomain").val().trim();
        let newUniqueContent = $("#uniqueContent").val();
        let rowIndex = parseInt($("#patternIdx").val());
        let updateItem = {'pattern': newPattern, 'appDomain': newAppDomain, 'uniqueContent': newUniqueContent};
        // console.log(rowIndex+1);
        $.ajax({
            type: 'PATCH',
            url: '/api/email/patterns',
            data: {
                'index': rowIndex,
                'pattern': JSON.stringify(updateItem)
            },
            success:function(result) {
              $('#tblPattern tr').eq(rowIndex+1).find('td').eq(1).text(newAppDomain);
              $('#tblPattern tr').eq(rowIndex+1).find('td').eq(2).text(newUniqueContent);
              $('#tblPattern tr').eq(rowIndex+1).find('td').eq(3).text(newPattern);
              $("#pattern").val("");
              $("#appDomain").val("");
              $("#uniqueContent").val("");
              $("#patternIdx").val("");
              $("#selectedPattern").val("");
              $("#btnInsert").text("Insert");
              alert("Updated Successfully!");
              // console.log(result);
            },
            error:function(result) {
              // console.log(result);
              alert(result.responseJSON.message);
            }
        });
      }
    });

    $("#btnCancel").click(function(e) {
      e.preventDefault();

      $("#input").val("");
      $("#code").val("");
      $("#pattern").val("");
      $("#appDomain").val("");
      $("#patternIdx").val("");
      $("#selectedPattern").val("");
      $("#btnInsert").text("Insert");
    });

    $("#btnPause").click(function(e) {
      e.preventDefault();
      if($("#btnPause").text() == "Pause"){
        $("#btnPause").text("Resume");
        pause = true;
      }else{
        $("#btnPause").text("Pause");
        pause = false;
      }
    });

    $("#btnGetCodeByEmail").click(function(e) {
      e.preventDefault();
      $("#toolCode").val('');
      $("#toolFrom").val('');
      $("#toolEmailContent").text('');
      $.ajax({
          type: 'GET',
          url: '/api/verify/email/'+$("#email").val().trim()+"/180",
          success:function(response) {
            // console.log(response);
            $("#toolCode").val(response.success?response.data:response.error);
            $("#toolFrom").val(response.from);
            $("#toolEmailContent").text(response.content);
          },
          error:function(result) {
            console.log(result);
          }
      });
    });

    $("#btnCopyCode").click(function(e) {
      e.preventDefault();
      /* Get the text field */
      var copyText = document.getElementById("toolCode");
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */
       /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);
      /* Alert the copied text */
      alert("Copied code ");
    });

    $("#btnLink").click(function(e) {
      e.preventDefault();
      $("#pattern").val($("#pattern").val() + "{$link}");
    });

    $("#btnLinkMarkDown").click(function(e) {
      e.preventDefault();
      $("#pattern").val($("#pattern").val() + "{$linkMarkdown}");
    });
    $("#btnNumber").click(function(e) {
      e.preventDefault();
      $("#pattern").val($("#pattern").val() + "{$number}");
    });
    $("#btnAlphaNumber").click(function(e) {
      e.preventDefault();
      $("#pattern").val($("#pattern").val() + "{$alphaNumber}");
    });

    function deletePattern(rowIndex){
      pattern = $('#tblPattern tr').eq(rowIndex+1).find('td').eq(3).text();
      appDomain = $('#tblPattern tr').eq(rowIndex+1).find('td').eq(1).text();
      if (confirm('Are you sure you want to delete? \r\nPattern: ' + pattern + "\r\nAppDomain: " + appDomain)) {

        $.ajax({
            type: 'DELETE',
            url: '/api/email/patterns',
            data: {
                'pattern': pattern,
                'appDomain': appDomain
            },
            success:function(result) {
              $('#tblPattern tr').eq(rowIndex+1).remove();
              console.log(result);
              alert("Deleted Successfully!");
            },
            error:function(result) {
              console.log(result);
              alert(result.responseJSON.message);
            }
        });
      }
    };

    function editPattern(rowIndex){
      appDomain = $('#tblPattern tr').eq(rowIndex+1).find('td').eq(1).text();
      uniqueContent = $('#tblPattern tr').eq(rowIndex+1).find('td').eq(2).text();
      pattern = $('#tblPattern tr').eq(rowIndex+1).find('td').eq(3).text();
      $("#pattern").val(pattern);
      $("#appDomain").val(appDomain);
      $("#uniqueContent").val(uniqueContent);
      $("#patternIdx").val(rowIndex);
      $("#btnInsert").text("Update");
    };
  </script>

</body></html>
